/*FONTS*/
/* Load from Google Fonts CDN - for testing only */
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;700&family=Roboto:wght@400;700&display=swap&subset=latin,latin-ext');
/*END FONTS*/


/* Default Theme - Shared Variables */
[data-theme="default"] {
  --palette-brunswick-green: #004733;
  --palette-brunswick-green-100: #d82b14;
  --palette-brunswick-green-200: #001d14;
  --palette-brunswick-green-300: #002b1f;
  --palette-brunswick-green-400: #003929;
  --palette-brunswick-green-500: #004733;
  --palette-brunswick-green-600: #009f72;
  --palette-brunswick-green-700: #00f7b1;
  --palette-brunswick-green-800: #50ffcd;
  --palette-brunswick-green-900: #a7ffe6;
  --palette-dartmouth-green: #2b6a4d;
  --palette-dartmouth-green-100: #09150f;
  --palette-dartmouth-green-200: #112a1e;
  --palette-dartmouth-green-300: #1a3f2e;
  --palette-dartmouth-green-400: #22543d;
  --palette-dartmouth-green-500: #2b6a4d;
  --palette-dartmouth-green-600: #409c71;
  --palette-dartmouth-green-700: #65c095;
  --palette-dartmouth-green-800: #98d5b9;
  --palette-dartmouth-green-900: #cceadc;
  --palette-sea-green: #568d66;
  --palette-sea-green-100: #111c15;
  --palette-sea-green-200: #233929;
  --palette-sea-green-300: #34553e;
  --palette-sea-green-400: #467252;
  --palette-sea-green-500: #568d66;
  --palette-sea-green-600: #74aa83;
  --palette-sea-green-700: #97bfa2;
  --palette-sea-green-800: #b9d4c1;
  --palette-sea-green-900: #dceae0;
  --palette-ash-gray: #a5c1ae;
  --palette-ash-gray-100: #1d2a21;
  --palette-ash-gray-200: #3b5443;
  --palette-ash-gray-300: #587e64;
  --palette-ash-gray-400: #7ba387;
  --palette-ash-gray-500: #a5c1ae;
  --palette-ash-gray-600: #b7cdbe;
  --palette-ash-gray-700: #c9d9ce;
  --palette-ash-gray-800: #dbe6de;
  --palette-ash-gray-900: #edf2ef;
  --palette-anti-flash-white: #f3f4f6;
  --palette-anti-flash-white-100: #2a2f38;
  --palette-anti-flash-white-200: #545d70;
  --palette-anti-flash-white-300: #848ea2;
  --palette-anti-flash-white-400: #bcc1cc;
  --palette-anti-flash-white-500: #f3f4f6;
  --palette-anti-flash-white-600: #f6f6f8;
  --palette-anti-flash-white-700: #f8f9fa;
  --palette-anti-flash-white-800: #fafbfb;
  --palette-anti-flash-white-900: #fdfdfd;
  --palette-platinum: #dcdfe5;
  --palette-platinum-100: #262b34;
  --palette-platinum-200: #4c5567;
  --palette-platinum-300: #758199;
  --palette-platinum-400: #a8b0bf;
  --palette-platinum-500: #dcdfe5;
  --palette-platinum-600: #e3e5ea;
  --palette-platinum-700: #eaecef;
  --palette-platinum-800: #f1f2f5;
  --palette-platinum-900: #f8f9fa;
  --palette-light-coral: #df8080;
  --palette-light-coral-100: #380e0e;
  --palette-light-coral-200: #711c1c;
  --palette-light-coral-300: #a92a2a;
  --palette-light-coral-400: #d14848;
  --palette-light-coral-500: #df8080;
  --palette-light-coral-600: #e69a9a;
  --palette-light-coral-700: #ecb3b3;
  --palette-light-coral-800: #f2cccc;
  --palette-light-coral-900: #f9e6e6;
  --palette-engineering-orange: #cb0b0a;
  --palette-engineering-orange-100: #290202;
  --palette-engineering-orange-200: #520404;
  --palette-engineering-orange-300: #7b0606;
  --palette-engineering-orange-400: #a40808;
  --palette-engineering-orange-500: #cb0b0a;
  --palette-engineering-orange-600: #f41d1d;
  --palette-engineering-orange-700: #f75656;
  --palette-engineering-orange-800: #fa8e8e;
  --palette-engineering-orange-900: #fcc7c7;
  --palette-cornell-red: #ad080f;
  --palette-cornell-red-100: #220203;
  --palette-cornell-red-200: #440306;
  --palette-cornell-red-300: #66050a;
  --palette-cornell-red-400: #88060d;
  --palette-cornell-red-500: #ad080f;
  --palette-cornell-red-600: #ea0b16;
  --palette-cornell-red-700: #f6414a;
  --palette-cornell-red-800: #f98086;
  --palette-cornell-red-900: #fcc0c3;
  --palette-carmine: #8e0413;
  --palette-carmine-100: #1d0104;
  --palette-carmine-200: #3a0108;
  --palette-carmine-300: #57020c;
  --palette-carmine-400: #730310;
  --palette-carmine-500: #8e0413;
  --palette-carmine-600: #d7061e;
  --palette-carmine-700: #fa2b43;
  --palette-carmine-800: #fb7282;
  --palette-carmine-900: #fdb8c0;

  --badge-border-radius: 16px;
  --badge-font-family: 'Roboto', sans-serif;
  --badge-padding: 16px;
  --badge-size: 16px;
  --badge-weight: 400;
  --button-border: 16px;
  --button-border-radius: 16px;
  --button-font-family: 'Roboto', sans-serif;
  --button-padding: 16px;
  --button-size: 16px;
  --button-weight: 400;
  --card-library-border-radius: 16px;
  --card-library-box-shadow: ;
  --card-library-padding: 16px;
  --daily-reflections-date-font-family: 'Roboto', sans-serif;
  --daily-reflections-date-letter-spacing: 16px;
  --daily-reflections-date-line-height: 1.5;
  --daily-reflections-date-size: 16px;
  --daily-reflections-date-weight: 400;
  --daily-reflections-header-font-family: 'Roboto', sans-serif;
  --daily-reflections-header-size: 16px;
  --daily-reflections-header-weight: 400;
  --daily-reflections-source-font-family: 'Roboto', sans-serif;
  --daily-reflections-source-font-style: ;
  --daily-reflections-source-size: 16px;
  --daily-reflections-text-font-family: 'Roboto', sans-serif;
  --daily-reflections-text-line-height: 1.5;
  --daily-reflections-text-size: 16px;
  --daily-reflections-title-font-family: 'Roboto', sans-serif;
  --daily-reflections-title-line-height: 1.5;
  --daily-reflections-title-size: 16px;
  --daily-reflections-title-weight: 400;
  --drawer-font-family: 'Roboto', sans-serif;
  --drawer-padding: 16px;
  --drawer-size: 16px;
  --footer-font-family: 'Roboto', sans-serif;
  --footer-links-margin: 16px;
  --footer-links-padding: 16px;
  --footer-logo-height: 16px;
  --footer-logo-width: 16px;
  --footer-padding: 16px;
  --footer-size: 16px;
  --footer-title-font-family: 'Roboto', sans-serif;
  --footer-title-margin: 16px;
  --footer-title-padding: 16px;
  --footer-title-size: 16px;
  --footer-title-weight: 400;
  --header-font-family: 'Roboto', sans-serif;
  --header-padding: 16px;
  --header-size: 16px;
  --image-border-radius: 16px;
  --image-max-width: 16px;
  --index-header-overlay-opacity: 0.45;
  --input-border: 16px;
  --input-border-radius: 16px;
  --input-font-family: 'Roboto', sans-serif;
  --input-padding: 16px;
  --input-size: 16px;
  --library-button-border-radius: 16px;
  --library-button-font-family: 'Roboto', sans-serif;
  --library-button-padding: 16px;
  --library-button-size: 16px;
  --library-button-weight: 400;
  --library-text-font-family: 'Roboto', sans-serif;
  --library-text-line-height: 1.5;
  --library-text-size: 16px;
  --library-title-font-family: 'Roboto', sans-serif;
  --library-title-size: 16px;
  --library-title-weight: 400;
  --link-text-decoration: ;
  --modal-border-radius: 16px;
  --modal-box-shadow: ;
  --modal-font-family: 'Roboto', sans-serif;
  --modal-padding: 16px;
  --modal-size: 16px;
  --notification-border-radius: 16px;
  --notification-font-family: 'Roboto', sans-serif;
  --notification-padding: 16px;
  --notification-size: 16px;
  --reader-button-border-radius: 16px;
  --reader-button-font-family: 'Roboto', sans-serif;
  --reader-button-padding: 16px;
  --reader-button-size: 16px;
  --reader-button-weight: 400;
  --reader-header-font-family: 'Roboto', sans-serif;
  --reader-header-size: 16px;
  --reader-header-weight: 400;
  --reader-letter-font-family: 'Roboto', sans-serif;
  --reader-letter-font-style: ;
  --reader-letter-size: 16px;
  --reader-subtitle-bold-font-family: 'Roboto', sans-serif;
  --reader-subtitle-bold-size: 16px;
  --reader-subtitle-bold-weight: 400;
  --reader-subtitle-font-family: 'Roboto', sans-serif;
  --reader-subtitle-size: 16px;
  --reader-table-border: 16px;
  --reader-table-header-font-family: 'Roboto', sans-serif;
  --reader-table-header-padding: 16px;
  --reader-table-header-size: 16px;
  --reader-table-header-weight: 400;
  --reader-table-row-border-bottom: 16px;
  --reader-table-row-font-family: 'Roboto', sans-serif;
  --reader-table-row-padding: 16px;
  --reader-table-row-size: 16px;
  --reader-text-font-family: 'Roboto', sans-serif;
  --reader-text-line-height: 1.5;
  --reader-text-size: 16px;
  --reader-title-font-family: 'Roboto', sans-serif;
  --reader-title-size: 16px;
  --reader-title-weight: 400;
  --section-about-us-header-font-family: 'Roboto', sans-serif;
  --section-about-us-header-padding: 16px;
  --section-about-us-header-size: 16px;
  --section-alternate-border-radius: 16px;
  --section-alternate-margin: 16px;
  --section-alternate-padding: 16px;
  --section-anonymity-font-family: 'Roboto', sans-serif;
  --section-anonymity-padding: 16px;
  --section-anonymity-size: 16px;
  --section-anonymity-tabs-font-family: 'Roboto', sans-serif;
  --section-anonymity-tabs-padding: 16px;
  --section-anonymity-tabs-size: 16px;
  --section-bookmarks-content-font-family: 'Roboto', sans-serif;
  --section-bookmarks-content-padding: 16px;
  --section-bookmarks-content-size: 16px;
  --section-bookmarks-header-font-family: 'Roboto', sans-serif;
  --section-bookmarks-header-padding: 16px;
  --section-bookmarks-header-size: 16px;
  --section-border-radius: 16px;
  --section-calculator-content-font-family: 'Roboto', sans-serif;
  --section-calculator-content-padding: 16px;
  --section-calculator-content-size: 16px;
  --section-calculator-header-font-family: 'Roboto', sans-serif;
  --section-calculator-header-padding: 16px;
  --section-calculator-header-size: 16px;
  --section-contact-font-family: 'Roboto', sans-serif;
  --section-contact-font-size: 16px;
  --section-contact-padding: 16px;
  --section-content-font-family: 'Roboto', sans-serif;
  --section-content-padding: 16px;
  --section-content-size: 16px;
  --section-daily-reflections-margin: 16px;
  --section-daily-reflections-padding: 16px;
  --section-faq-font-family: 'Roboto', sans-serif;
  --section-faq-padding: 16px;
  --section-faq-size: 16px;
  --section-foundation-font-family: 'Roboto', sans-serif;
  --section-foundation-padding: 16px;
  --section-foundation-size: 16px;
  --section-foundation-tabs-font-family: 'Roboto', sans-serif;
  --section-foundation-tabs-padding: 16px;
  --section-foundation-tabs-size: 16px;
  --section-help-header-font-family: 'Roboto', sans-serif;
  --section-help-header-padding: 16px;
  --section-help-header-size: 16px;
  --section-index-header-font-family: 'Open Sans', sans-serif;
  --section-index-header-font-size: 18px;
  --section-index-header-padding-left: 18px;
  --section-index-header-padding-right: 18px;
  --section-info-header-font-family: 'Roboto', sans-serif;
  --section-info-header-padding: 16px;
  --section-info-header-size: 16px;
  --section-library-padding: 16px;
  --section-links-font-family: 'Roboto', sans-serif;
  --section-links-padding: 16px;
  --section-links-size: 16px;
  --section-literatura-header-margin: 16px;
  --section-literatura-header-padding: 16px;
  --section-live-meetings-font-family: 'Roboto', sans-serif;
  --section-live-meetings-font-size: 16px;
  --section-live-meetings-padding: 16px;
  --section-margin: 16px;
  --section-meetings-font-family: 'Roboto', sans-serif;
  --section-meetings-font-size: 16px;
  --section-meetings-padding: 16px;
  --section-members-about-font-family: 'Roboto', sans-serif;
  --section-members-about-padding: 16px;
  --section-members-about-size: 16px;
  --section-news-font-family: 'Roboto', sans-serif;
  --section-news-padding: 16px;
  --section-news-size: 16px;
  --section-padding: 16px;
  --section-prayer-font-family: 'Roboto', sans-serif;
  --section-prayer-padding: 16px;
  --section-prayer-size: 16px;
  --section-privacy-header-font-family: 'Roboto', sans-serif;
  --section-privacy-header-padding: 16px;
  --section-privacy-header-size: 16px;
  --section-reader-padding: 16px;
  --section-sobriety-font-family: 'Roboto', sans-serif;
  --section-sobriety-padding: 16px;
  --section-sobriety-size: 16px;
  --section-step-font-family: 'Roboto', sans-serif;
  --section-step-padding: 16px;
  --section-step-size: 16px;
  --section-swiper-neighboring-groups-font-family: 'Roboto', sans-serif;
  --section-swiper-neighboring-groups-font-size: 16px;
  --section-swiper-neighboring-groups-padding: 16px;
  --section-swiper-shortcuts-font-family: 'Roboto', sans-serif;
  --section-swiper-shortcuts-font-size: 16px;
  --section-swiper-shortcuts-padding: 16px;
  --section-themes-content-font-family: 'Roboto', sans-serif;
  --section-themes-content-padding: 16px;
  --section-themes-content-size: 16px;
  --section-themes-header-font-family: 'Roboto', sans-serif;
  --section-themes-header-padding: 16px;
  --section-themes-header-size: 16px;
  --section-there-is-hope-font-family: 'Roboto', sans-serif;
  --section-there-is-hope-font-size: 16px;
  --section-there-is-hope-padding: 16px;
  --section-title-font-family: 'Roboto', sans-serif;
  --section-title-padding: 16px;
  --section-title-size: 16px;
  --section-updates-content-font-family: 'Roboto', sans-serif;
  --section-updates-content-padding: 16px;
  --section-updates-content-size: 16px;
  --section-updates-header-font-family: 'Roboto', sans-serif;
  --section-updates-header-padding: 16px;
  --section-updates-header-size: 16px;
  --section-variant-border-radius: 16px;
  --section-variant-margin: 16px;
  --section-variant-padding: 16px;
  --sobriety-card-border-radius: 16px;
  --sobriety-card-padding: 16px;
  --sobriety-celebration-font-family: 'Roboto', sans-serif;
  --sobriety-celebration-size: 16px;
  --sobriety-content-font-family: 'Roboto', sans-serif;
  --sobriety-content-size: 16px;
  --sobriety-share-font-family: 'Roboto', sans-serif;
  --sobriety-share-size: 16px;
  --sobriety-title-font-family: 'Roboto', sans-serif;
  --sobriety-title-size: 16px;
  --sobriety-title-weight: 400;
  --text-font-family: 'Roboto', sans-serif;
  --text-line-height: 1.5;
  --text-size: 16px;
  --top-bar-font-family: 'Roboto', sans-serif;
  --top-bar-padding: 16px;
  --top-bar-size: 16px;
  --top-bar-weight: 400;
  --video-border-radius: 16px;
  --video-max-width: 16px;

}

/* Default Theme - Light Mode */
[data-theme="default"][data-mode="light"] {
  --badge-background-color: #000000;
  --badge-color: #000000;
  --button-background-color: #000000;
  --button-color: #000000;
  --card-library-background-color: #000000;
  --daily-reflections-date-color: #000000;
  --daily-reflections-header-color: #000000;
  --daily-reflections-source-color: #000000;
  --daily-reflections-text-color: #000000;
  --daily-reflections-title-color: #000000;
  --drawer-background-color: #000000;
  --drawer-color: #000000;
  --footer-background-color: #000000;
  --footer-color: #000000;
  --footer-title-color: #000000;
  --header-background-color: #000000;
  --header-color: #000000;
  --index-header-overlay-background-color: #004733;
  --input-background-color: #000000;
  --input-color: #000000;
  --library-button-background-color: #000000;
  --library-button-color: #000000;
  --library-text-color: #000000;
  --library-title-color: #000000;
  --link-color: #000000;
  --modal-background-color: #000000;
  --modal-color: #000000;
  --notification-background-color: #000000;
  --notification-color: #000000;
  --page-background-color: #000e0a;
  --reader-button-background-color: #000000;
  --reader-button-color: #000000;
  --reader-header-color: #000000;
  --reader-letter-color: #000000;
  --reader-subtitle-bold-color: #000000;
  --reader-subtitle-color: #000000;
  --reader-table-header-background-color: #000000;
  --reader-table-header-color: #000000;
  --reader-table-row-color: #000000;
  --reader-text-color: #000000;
  --reader-title-color: #000000;
  --section-about-us-header-background-color: #000000;
  --section-about-us-header-color: #000000;
  --section-alternate-background-color: #000000;
  --section-anonymity-background-color: #000000;
  --section-anonymity-color: #000000;
  --section-anonymity-tabs-background-color: #000000;
  --section-anonymity-tabs-color: #000000;
  --section-background-color: #000000;
  --section-bookmarks-content-background-color: #000000;
  --section-bookmarks-content-color: #000000;
  --section-bookmarks-header-background-color: #000000;
  --section-bookmarks-header-color: #000000;
  --section-calculator-content-background-color: #000000;
  --section-calculator-content-color: #000000;
  --section-calculator-header-background-color: #000000;
  --section-calculator-header-color: #000000;
  --section-contact-background-color: #000000;
  --section-contact-color: #000000;
  --section-content-background-color: #000000;
  --section-content-color: #000000;
  --section-daily-reflections-background-color: #000000;
  --section-faq-background-color: #000000;
  --section-faq-color: #000000;
  --section-foundation-background-color: #000000;
  --section-foundation-color: #000000;
  --section-foundation-tabs-background-color: #000000;
  --section-foundation-tabs-color: #000000;
  --section-help-header-background-color: #000000;
  --section-help-header-color: #000000;
  --section-index-header-background-color: #00f7b1;
  --section-index-header-color: #000000;
  --section-info-header-background-color: #000000;
  --section-info-header-color: #000000;
  --section-library-background-color: #000000;
  --section-links-background-color: #000000;
  --section-links-color: #000000;
  --section-literatura-header-background-color: #000000;
  --section-live-meetings-background-color: #000000;
  --section-live-meetings-color: #000000;
  --section-meetings-background-color: #000000;
  --section-meetings-color: #000000;
  --section-members-about-background-color: #000000;
  --section-members-about-color: #000000;
  --section-news-background-color: #000000;
  --section-news-color: #000000;
  --section-prayer-background-color: #000000;
  --section-prayer-color: #000000;
  --section-privacy-header-background-color: #000000;
  --section-privacy-header-color: #000000;
  --section-reader-background-color: #000000;
  --section-sobriety-background-color: #000000;
  --section-sobriety-color: #000000;
  --section-step-background-color: #000000;
  --section-step-color: #000000;
  --section-swiper-neighboring-groups-background-color: #000000;
  --section-swiper-neighboring-groups-color: #000000;
  --section-swiper-shortcuts-background-color: #000000;
  --section-swiper-shortcuts-color: #000000;
  --section-themes-content-background-color: #000000;
  --section-themes-content-color: #000000;
  --section-themes-header-background-color: #000000;
  --section-themes-header-color: #000000;
  --section-there-is-hope-background-color: #000000;
  --section-there-is-hope-color: #000000;
  --section-title-background-color: #000000;
  --section-title-color: #000000;
  --section-updates-content-background-color: #000000;
  --section-updates-content-color: #000000;
  --section-updates-header-background-color: #000000;
  --section-updates-header-color: #000000;
  --section-variant-background-color: #000000;
  --sobriety-card-background-color: #000000;
  --sobriety-celebration-color: #000000;
  --sobriety-content-color: #000000;
  --sobriety-share-color: #000000;
  --sobriety-title-color: #000000;
  --text-color: #000000;
  --top-bar-background-color: #000000;
  --top-bar-color: #000000;
}

/* Default Theme - Dark Mode */
[data-theme="default"][data-mode="dark"] {
  --badge-background-color: #000000;
  --badge-color: #000000;
  --button-background-color: #000000;
  --button-color: #000000;
  --card-library-background-color: #000000;
  --daily-reflections-date-color: #000000;
  --daily-reflections-header-color: #000000;
  --daily-reflections-source-color: #000000;
  --daily-reflections-text-color: #000000;
  --daily-reflections-title-color: #000000;
  --drawer-background-color: #000000;
  --drawer-color: #000000;
  --footer-background-color: #000000;
  --footer-color: #000000;
  --footer-title-color: #000000;
  --header-background-color: #000000;
  --header-color: #000000;
  --index-header-overlay-background-color: #004733;
  --input-background-color: #000000;
  --input-color: #000000;
  --library-button-background-color: #000000;
  --library-button-color: #000000;
  --library-text-color: #000000;
  --library-title-color: #000000;
  --link-color: #000000;
  --modal-background-color: #000000;
  --modal-color: #000000;
  --notification-background-color: #000000;
  --notification-color: #000000;
  --page-background-color: #000000;
  --reader-button-background-color: #000000;
  --reader-button-color: #000000;
  --reader-header-color: #000000;
  --reader-letter-color: #000000;
  --reader-subtitle-bold-color: #000000;
  --reader-subtitle-color: #000000;
  --reader-table-header-background-color: #000000;
  --reader-table-header-color: #000000;
  --reader-table-row-color: #000000;
  --reader-text-color: #000000;
  --reader-title-color: #000000;
  --section-about-us-header-background-color: #000000;
  --section-about-us-header-color: #000000;
  --section-alternate-background-color: #000000;
  --section-anonymity-background-color: #000000;
  --section-anonymity-color: #000000;
  --section-anonymity-tabs-background-color: #000000;
  --section-anonymity-tabs-color: #000000;
  --section-background-color: #000000;
  --section-bookmarks-content-background-color: #000000;
  --section-bookmarks-content-color: #000000;
  --section-bookmarks-header-background-color: #000000;
  --section-bookmarks-header-color: #000000;
  --section-calculator-content-background-color: #000000;
  --section-calculator-content-color: #000000;
  --section-calculator-header-background-color: #000000;
  --section-calculator-header-color: #000000;
  --section-contact-background-color: #000000;
  --section-contact-color: #000000;
  --section-content-background-color: #000000;
  --section-content-color: #000000;
  --section-daily-reflections-background-color: #000000;
  --section-faq-background-color: #000000;
  --section-faq-color: #000000;
  --section-foundation-background-color: #000000;
  --section-foundation-color: #000000;
  --section-foundation-tabs-background-color: #000000;
  --section-foundation-tabs-color: #000000;
  --section-help-header-background-color: #000000;
  --section-help-header-color: #000000;
  --section-index-header-background-color: #000000;
  --section-index-header-color: #000000;
  --section-info-header-background-color: #000000;
  --section-info-header-color: #000000;
  --section-library-background-color: #000000;
  --section-links-background-color: #000000;
  --section-links-color: #000000;
  --section-literatura-header-background-color: #000000;
  --section-live-meetings-background-color: #000000;
  --section-live-meetings-color: #000000;
  --section-meetings-background-color: #000000;
  --section-meetings-color: #000000;
  --section-members-about-background-color: #000000;
  --section-members-about-color: #000000;
  --section-news-background-color: #000000;
  --section-news-color: #000000;
  --section-prayer-background-color: #000000;
  --section-prayer-color: #000000;
  --section-privacy-header-background-color: #000000;
  --section-privacy-header-color: #000000;
  --section-reader-background-color: #000000;
  --section-sobriety-background-color: #000000;
  --section-sobriety-color: #000000;
  --section-step-background-color: #000000;
  --section-step-color: #000000;
  --section-swiper-neighboring-groups-background-color: #000000;
  --section-swiper-neighboring-groups-color: #000000;
  --section-swiper-shortcuts-background-color: #000000;
  --section-swiper-shortcuts-color: #000000;
  --section-themes-content-background-color: #000000;
  --section-themes-content-color: #000000;
  --section-themes-header-background-color: #000000;
  --section-themes-header-color: #000000;
  --section-there-is-hope-background-color: #000000;
  --section-there-is-hope-color: #000000;
  --section-title-background-color: #000000;
  --section-title-color: #000000;
  --section-updates-content-background-color: #000000;
  --section-updates-content-color: #000000;
  --section-updates-header-background-color: #000000;
  --section-updates-header-color: #000000;
  --section-variant-background-color: #000000;
  --sobriety-card-background-color: #000000;
  --sobriety-celebration-color: #000000;
  --sobriety-content-color: #000000;
  --sobriety-share-color: #000000;
  --sobriety-title-color: #000000;
  --text-color: #000000;
  --top-bar-background-color: #000000;
  --top-bar-color: #000000;
}
