/*FONTS*/
/*END FONTS*/


/* Ocean Theme - Shared Variables */
[data-theme="ocean"] {
  --palette-deep-ocean: #003d5b;
  --palette-deep-ocean-100: #000c12;
  --palette-deep-ocean-200: #001824;
  --palette-deep-ocean-300: #002436;
  --palette-deep-ocean-400: #003048;
  --palette-deep-ocean-500: #003d5b;
  --palette-deep-ocean-600: #0077ad;
  --palette-deep-ocean-700: #00b1ff;
  --palette-deep-ocean-800: #52cfff;
  --palette-deep-ocean-900: #a8e7ff;
  --palette-navy-blue: #005f73;
  --palette-navy-blue-100: #001317;
  --palette-navy-blue-200: #00262e;
  --palette-navy-blue-300: #003945;
  --palette-navy-blue-400: #004c5c;
  --palette-navy-blue-500: #005f73;
  --palette-navy-blue-600: #00a0c0;
  --palette-navy-blue-700: #0dd4ff;
  --palette-navy-blue-800: #5ee2ff;
  --palette-navy-blue-900: #aef0ff;
  --palette-teal: #0a9396;
  --palette-teal-100: #021d1e;
  --palette-teal-200: #043b3c;
  --palette-teal-300: #065859;
  --palette-teal-400: #087677;
  --palette-teal-500: #0a9396;
  --palette-teal-600: #0dc9cd;
  --palette-teal-700: #3edde0;
  --palette-teal-800: #7ee9eb;
  --palette-teal-900: #bef4f5;
  --palette-turquoise: #2ec4b6;
  --palette-turquoise-100: #092724;
  --palette-turquoise-200: #134e48;
  --palette-turquoise-300: #1c756c;
  --palette-turquoise-400: #259c90;
  --palette-turquoise-500: #2ec4b6;
  --palette-turquoise-600: #4eddd0;
  --palette-turquoise-700: #75e5db;
  --palette-turquoise-800: #9cede6;
  --palette-turquoise-900: #cef6f2;
  --palette-aquamarine: #5dd9c1;
  --palette-aquamarine-100: #0d2e27;
  --palette-aquamarine-200: #1a5c4e;
  --palette-aquamarine-300: #278a75;
  --palette-aquamarine-400: #34b89c;
  --palette-aquamarine-500: #5dd9c1;
  --palette-aquamarine-600: #7de1cd;
  --palette-aquamarine-700: #9ee8d9;
  --palette-aquamarine-800: #bef0e6;
  --palette-aquamarine-900: #dff7f2;
  --palette-seafoam: #94d2bd;
  --palette-seafoam-100: #142a23;
  --palette-seafoam-200: #285446;
  --palette-seafoam-300: #3c7e69;
  --palette-seafoam-400: #5aab8f;
  --palette-seafoam-500: #94d2bd;
  --palette-seafoam-600: #a9dbca;
  --palette-seafoam-700: #bfe4d7;
  --palette-seafoam-800: #d4ede5;
  --palette-seafoam-900: #eaf6f2;
  --palette-mint: #b7e4c7;
  --palette-mint-100: #183426;
  --palette-mint-200: #30684c;
  --palette-mint-300: #489c72;
  --palette-mint-400: #7fc49f;
  --palette-mint-500: #b7e4c7;
  --palette-mint-600: #c5e9d2;
  --palette-mint-700: #d3efdd;
  --palette-mint-800: #e2f4e9;
  --palette-mint-900: #f0faf4;
  --palette-powder-blue: #caf0f8;
  --palette-powder-blue-100: #0d3842;
  --palette-powder-blue-200: #1a7084;
  --palette-powder-blue-300: #27a8c6;
  --palette-powder-blue-400: #78cce2;
  --palette-powder-blue-500: #caf0f8;
  --palette-powder-blue-600: #d5f3f9;
  --palette-powder-blue-700: #dff5fb;
  --palette-powder-blue-800: #eaf8fc;
  --palette-powder-blue-900: #f4fcfe;
  --palette-sky-blue: #90e0ef;
  --palette-sky-blue-100: #053541;
  --palette-sky-blue-200: #0a6a82;
  --palette-sky-blue-300: #0f9fc3;
  --palette-sky-blue-400: #4acce7;
  --palette-sky-blue-500: #90e0ef;
  --palette-sky-blue-600: #a6e6f2;
  --palette-sky-blue-700: #bcecf5;
  --palette-sky-blue-800: #d3f3f9;
  --palette-sky-blue-900: #e9f9fc;
  --palette-white-blue: #e0fbfc;
  --palette-white-blue-100: #0d4547;
  --palette-white-blue-200: #1a8a8e;
  --palette-white-blue-300: #27cfd5;
  --palette-white-blue-400: #83e7eb;
  --palette-white-blue-500: #e0fbfc;
  --palette-white-blue-600: #e6fcfd;
  --palette-white-blue-700: #ecfdfd;
  --palette-white-blue-800: #f3fdfe;
  --palette-white-blue-900: #f9fefe;

  --badge-border-radius: 16px;
  --badge-font-family: 'Roboto', sans-serif;
  --badge-padding: 16px;
  --badge-size: 16px;
  --badge-weight: 400;
  --button-border: 16px;
  --button-border-radius: 16px;
  --button-font-family: 'Roboto', sans-serif;
  --button-padding: 16px;
  --button-size: 16px;
  --button-weight: 400;
  --card-library-border-radius: 16px;
  --card-library-box-shadow: ;
  --card-library-padding: 16px;
  --daily-reflections-date-font-family: 'Roboto', sans-serif;
  --daily-reflections-date-letter-spacing: 16px;
  --daily-reflections-date-line-height: 1.5;
  --daily-reflections-date-size: 16px;
  --daily-reflections-date-weight: 400;
  --daily-reflections-header-font-family: 'Roboto', sans-serif;
  --daily-reflections-header-size: 16px;
  --daily-reflections-header-weight: 400;
  --daily-reflections-source-font-family: 'Roboto', sans-serif;
  --daily-reflections-source-font-style: ;
  --daily-reflections-source-size: 16px;
  --daily-reflections-text-font-family: 'Roboto', sans-serif;
  --daily-reflections-text-line-height: 1.5;
  --daily-reflections-text-size: 16px;
  --daily-reflections-title-font-family: 'Roboto', sans-serif;
  --daily-reflections-title-line-height: 1.5;
  --daily-reflections-title-size: 16px;
  --daily-reflections-title-weight: 400;
  --drawer-font-family: 'Roboto', sans-serif;
  --drawer-padding: 16px;
  --drawer-size: 16px;
  --footer-font-family: 'Roboto', sans-serif;
  --footer-links-margin: 16px;
  --footer-links-padding: 16px;
  --footer-logo-height: 16px;
  --footer-logo-width: 16px;
  --footer-padding: 16px;
  --footer-size: 16px;
  --footer-title-font-family: 'Roboto', sans-serif;
  --footer-title-margin: 16px;
  --footer-title-padding: 16px;
  --footer-title-size: 16px;
  --footer-title-weight: 400;
  --header-font-family: 'Roboto', sans-serif;
  --header-padding: 16px;
  --header-size: 16px;
  --image-border-radius: 16px;
  --image-max-width: 16px;
  --index-header-overlay-opacity: 1.5;
  --input-border: 16px;
  --input-border-radius: 16px;
  --input-font-family: 'Roboto', sans-serif;
  --input-padding: 16px;
  --input-size: 16px;
  --library-button-border-radius: 16px;
  --library-button-font-family: 'Roboto', sans-serif;
  --library-button-padding: 16px;
  --library-button-size: 16px;
  --library-button-weight: 400;
  --library-text-font-family: 'Roboto', sans-serif;
  --library-text-line-height: 1.5;
  --library-text-size: 16px;
  --library-title-font-family: 'Roboto', sans-serif;
  --library-title-size: 16px;
  --library-title-weight: 400;
  --link-text-decoration: ;
  --modal-border-radius: 16px;
  --modal-box-shadow: ;
  --modal-font-family: 'Roboto', sans-serif;
  --modal-padding: 16px;
  --modal-size: 16px;
  --notification-border-radius: 16px;
  --notification-font-family: 'Roboto', sans-serif;
  --notification-padding: 16px;
  --notification-size: 16px;
  --reader-button-border-radius: 16px;
  --reader-button-font-family: 'Roboto', sans-serif;
  --reader-button-padding: 16px;
  --reader-button-size: 16px;
  --reader-button-weight: 400;
  --reader-header-font-family: 'Roboto', sans-serif;
  --reader-header-size: 16px;
  --reader-header-weight: 400;
  --reader-letter-font-family: 'Roboto', sans-serif;
  --reader-letter-font-style: ;
  --reader-letter-size: 16px;
  --reader-subtitle-bold-font-family: 'Roboto', sans-serif;
  --reader-subtitle-bold-size: 16px;
  --reader-subtitle-bold-weight: 400;
  --reader-subtitle-font-family: 'Roboto', sans-serif;
  --reader-subtitle-size: 16px;
  --reader-table-border: 16px;
  --reader-table-header-font-family: 'Roboto', sans-serif;
  --reader-table-header-padding: 16px;
  --reader-table-header-size: 16px;
  --reader-table-header-weight: 400;
  --reader-table-row-border-bottom: 16px;
  --reader-table-row-font-family: 'Roboto', sans-serif;
  --reader-table-row-padding: 16px;
  --reader-table-row-size: 16px;
  --reader-text-font-family: 'Roboto', sans-serif;
  --reader-text-line-height: 1.5;
  --reader-text-size: 16px;
  --reader-title-font-family: 'Roboto', sans-serif;
  --reader-title-size: 16px;
  --reader-title-weight: 400;
  --section-about-us-header-font-family: 'Roboto', sans-serif;
  --section-about-us-header-padding: 16px;
  --section-about-us-header-size: 16px;
  --section-alternate-border-radius: 16px;
  --section-alternate-margin: 16px;
  --section-alternate-padding: 16px;
  --section-anonymity-font-family: 'Roboto', sans-serif;
  --section-anonymity-padding: 16px;
  --section-anonymity-size: 16px;
  --section-anonymity-tabs-font-family: 'Roboto', sans-serif;
  --section-anonymity-tabs-padding: 16px;
  --section-anonymity-tabs-size: 16px;
  --section-bookmarks-content-font-family: 'Roboto', sans-serif;
  --section-bookmarks-content-padding: 16px;
  --section-bookmarks-content-size: 16px;
  --section-bookmarks-header-font-family: 'Roboto', sans-serif;
  --section-bookmarks-header-padding: 16px;
  --section-bookmarks-header-size: 16px;
  --section-border-radius: 16px;
  --section-calculator-content-font-family: 'Roboto', sans-serif;
  --section-calculator-content-padding: 16px;
  --section-calculator-content-size: 16px;
  --section-calculator-header-font-family: 'Roboto', sans-serif;
  --section-calculator-header-padding: 16px;
  --section-calculator-header-size: 16px;
  --section-contact-font-family: 'Roboto', sans-serif;
  --section-contact-font-size: 16px;
  --section-contact-padding: 16px;
  --section-content-font-family: 'Roboto', sans-serif;
  --section-content-padding: 16px;
  --section-content-size: 16px;
  --section-daily-reflections-margin: 16px;
  --section-daily-reflections-padding: 16px;
  --section-faq-font-family: 'Roboto', sans-serif;
  --section-faq-padding: 16px;
  --section-faq-size: 16px;
  --section-foundation-font-family: 'Roboto', sans-serif;
  --section-foundation-padding: 16px;
  --section-foundation-size: 16px;
  --section-foundation-tabs-font-family: 'Roboto', sans-serif;
  --section-foundation-tabs-padding: 16px;
  --section-foundation-tabs-size: 16px;
  --section-help-header-font-family: 'Roboto', sans-serif;
  --section-help-header-padding: 16px;
  --section-help-header-size: 16px;
  --section-index-header-font-family: 'Roboto', sans-serif;
  --section-index-header-font-size: 16px;
  --section-index-header-padding-left: 16px;
  --section-index-header-padding-right: 16px;
  --section-info-header-font-family: 'Roboto', sans-serif;
  --section-info-header-padding: 16px;
  --section-info-header-size: 16px;
  --section-library-padding: 16px;
  --section-links-font-family: 'Roboto', sans-serif;
  --section-links-padding: 16px;
  --section-links-size: 16px;
  --section-literatura-header-margin: 16px;
  --section-literatura-header-padding: 16px;
  --section-live-meetings-font-family: 'Roboto', sans-serif;
  --section-live-meetings-font-size: 16px;
  --section-live-meetings-padding: 16px;
  --section-margin: 16px;
  --section-meetings-font-family: 'Roboto', sans-serif;
  --section-meetings-font-size: 16px;
  --section-meetings-padding: 16px;
  --section-members-about-font-family: 'Roboto', sans-serif;
  --section-members-about-padding: 16px;
  --section-members-about-size: 16px;
  --section-news-font-family: 'Roboto', sans-serif;
  --section-news-padding: 16px;
  --section-news-size: 16px;
  --section-padding: 16px;
  --section-prayer-font-family: 'Roboto', sans-serif;
  --section-prayer-padding: 16px;
  --section-prayer-size: 16px;
  --section-privacy-header-font-family: 'Roboto', sans-serif;
  --section-privacy-header-padding: 16px;
  --section-privacy-header-size: 16px;
  --section-reader-padding: 16px;
  --section-sobriety-font-family: 'Roboto', sans-serif;
  --section-sobriety-padding: 16px;
  --section-sobriety-size: 16px;
  --section-step-font-family: 'Roboto', sans-serif;
  --section-step-padding: 16px;
  --section-step-size: 16px;
  --section-swiper-neighboring-groups-font-family: 'Roboto', sans-serif;
  --section-swiper-neighboring-groups-font-size: 16px;
  --section-swiper-neighboring-groups-padding: 16px;
  --section-swiper-shortcuts-font-family: 'Roboto', sans-serif;
  --section-swiper-shortcuts-font-size: 16px;
  --section-swiper-shortcuts-padding: 16px;
  --section-themes-content-font-family: 'Roboto', sans-serif;
  --section-themes-content-padding: 16px;
  --section-themes-content-size: 16px;
  --section-themes-header-font-family: 'Roboto', sans-serif;
  --section-themes-header-padding: 16px;
  --section-themes-header-size: 16px;
  --section-there-is-hope-font-family: 'Roboto', sans-serif;
  --section-there-is-hope-font-size: 16px;
  --section-there-is-hope-padding: 16px;
  --section-title-font-family: 'Roboto', sans-serif;
  --section-title-padding: 16px;
  --section-title-size: 16px;
  --section-updates-content-font-family: 'Roboto', sans-serif;
  --section-updates-content-padding: 16px;
  --section-updates-content-size: 16px;
  --section-updates-header-font-family: 'Roboto', sans-serif;
  --section-updates-header-padding: 16px;
  --section-updates-header-size: 16px;
  --section-variant-border-radius: 16px;
  --section-variant-margin: 16px;
  --section-variant-padding: 16px;
  --sobriety-card-border-radius: 16px;
  --sobriety-card-padding: 16px;
  --sobriety-celebration-font-family: 'Roboto', sans-serif;
  --sobriety-celebration-size: 16px;
  --sobriety-content-font-family: 'Roboto', sans-serif;
  --sobriety-content-size: 16px;
  --sobriety-share-font-family: 'Roboto', sans-serif;
  --sobriety-share-size: 16px;
  --sobriety-title-font-family: 'Roboto', sans-serif;
  --sobriety-title-size: 16px;
  --sobriety-title-weight: 400;
  --text-font-family: 'Roboto', sans-serif;
  --text-line-height: 1.5;
  --text-size: 16px;
  --top-bar-font-family: 'Roboto', sans-serif;
  --top-bar-padding: 16px;
  --top-bar-size: 16px;
  --top-bar-weight: 400;
  --video-border-radius: 16px;
  --video-max-width: 16px;

}

/* Ocean Theme - Light Mode */
[data-theme="ocean"][data-mode="light"] {
  --badge-background-color: #000000;
  --badge-color: #000000;
  --button-background-color: #000000;
  --button-color: #000000;
  --card-library-background-color: #000000;
  --daily-reflections-date-color: #000000;
  --daily-reflections-header-color: #000000;
  --daily-reflections-source-color: #000000;
  --daily-reflections-text-color: #000000;
  --daily-reflections-title-color: #000000;
  --drawer-background-color: #000000;
  --drawer-color: #000000;
  --footer-background-color: #000000;
  --footer-color: #000000;
  --footer-title-color: #000000;
  --header-background-color: #000000;
  --header-color: #000000;
  --index-header-overlay-background-color: #000000;
  --input-background-color: #000000;
  --input-color: #000000;
  --library-button-background-color: #000000;
  --library-button-color: #000000;
  --library-text-color: #000000;
  --library-title-color: #000000;
  --link-color: #000000;
  --modal-background-color: #000000;
  --modal-color: #000000;
  --notification-background-color: #000000;
  --notification-color: #000000;
  --page-background-color: #000000;
  --reader-button-background-color: #000000;
  --reader-button-color: #000000;
  --reader-header-color: #000000;
  --reader-letter-color: #000000;
  --reader-subtitle-bold-color: #000000;
  --reader-subtitle-color: #000000;
  --reader-table-header-background-color: #000000;
  --reader-table-header-color: #000000;
  --reader-table-row-color: #000000;
  --reader-text-color: #000000;
  --reader-title-color: #000000;
  --section-about-us-header-background-color: #000000;
  --section-about-us-header-color: #000000;
  --section-alternate-background-color: #000000;
  --section-anonymity-background-color: #000000;
  --section-anonymity-color: #000000;
  --section-anonymity-tabs-background-color: #000000;
  --section-anonymity-tabs-color: #000000;
  --section-background-color: #000000;
  --section-bookmarks-content-background-color: #000000;
  --section-bookmarks-content-color: #000000;
  --section-bookmarks-header-background-color: #000000;
  --section-bookmarks-header-color: #000000;
  --section-calculator-content-background-color: #000000;
  --section-calculator-content-color: #000000;
  --section-calculator-header-background-color: #000000;
  --section-calculator-header-color: #000000;
  --section-contact-background-color: #000000;
  --section-contact-color: #000000;
  --section-content-background-color: #000000;
  --section-content-color: #000000;
  --section-daily-reflections-background-color: #000000;
  --section-faq-background-color: #000000;
  --section-faq-color: #000000;
  --section-foundation-background-color: #000000;
  --section-foundation-color: #000000;
  --section-foundation-tabs-background-color: #000000;
  --section-foundation-tabs-color: #000000;
  --section-help-header-background-color: #000000;
  --section-help-header-color: #000000;
  --section-index-header-background-color: #000000;
  --section-index-header-color: #000000;
  --section-info-header-background-color: #000000;
  --section-info-header-color: #000000;
  --section-library-background-color: #000000;
  --section-links-background-color: #000000;
  --section-links-color: #000000;
  --section-literatura-header-background-color: #000000;
  --section-live-meetings-background-color: #000000;
  --section-live-meetings-color: #000000;
  --section-meetings-background-color: #000000;
  --section-meetings-color: #000000;
  --section-members-about-background-color: #000000;
  --section-members-about-color: #000000;
  --section-news-background-color: #000000;
  --section-news-color: #000000;
  --section-prayer-background-color: #000000;
  --section-prayer-color: #000000;
  --section-privacy-header-background-color: #000000;
  --section-privacy-header-color: #000000;
  --section-reader-background-color: #000000;
  --section-sobriety-background-color: #000000;
  --section-sobriety-color: #000000;
  --section-step-background-color: #000000;
  --section-step-color: #000000;
  --section-swiper-neighboring-groups-background-color: #000000;
  --section-swiper-neighboring-groups-color: #000000;
  --section-swiper-shortcuts-background-color: #000000;
  --section-swiper-shortcuts-color: #000000;
  --section-themes-content-background-color: #000000;
  --section-themes-content-color: #000000;
  --section-themes-header-background-color: #000000;
  --section-themes-header-color: #000000;
  --section-there-is-hope-background-color: #000000;
  --section-there-is-hope-color: #000000;
  --section-title-background-color: #000000;
  --section-title-color: #000000;
  --section-updates-content-background-color: #000000;
  --section-updates-content-color: #000000;
  --section-updates-header-background-color: #000000;
  --section-updates-header-color: #000000;
  --section-variant-background-color: #000000;
  --sobriety-card-background-color: #000000;
  --sobriety-celebration-color: #000000;
  --sobriety-content-color: #000000;
  --sobriety-share-color: #000000;
  --sobriety-title-color: #000000;
  --text-color: #000000;
  --top-bar-background-color: #000000;
  --top-bar-color: #000000;
}

/* Ocean Theme - Dark Mode */
[data-theme="ocean"][data-mode="dark"] {
  --badge-background-color: #000000;
  --badge-color: #000000;
  --button-background-color: #000000;
  --button-color: #000000;
  --card-library-background-color: #000000;
  --daily-reflections-date-color: #000000;
  --daily-reflections-header-color: #000000;
  --daily-reflections-source-color: #000000;
  --daily-reflections-text-color: #000000;
  --daily-reflections-title-color: #000000;
  --drawer-background-color: #000000;
  --drawer-color: #000000;
  --footer-background-color: #000000;
  --footer-color: #000000;
  --footer-title-color: #000000;
  --header-background-color: #000000;
  --header-color: #000000;
  --index-header-overlay-background-color: #000000;
  --input-background-color: #000000;
  --input-color: #000000;
  --library-button-background-color: #000000;
  --library-button-color: #000000;
  --library-text-color: #000000;
  --library-title-color: #000000;
  --link-color: #000000;
  --modal-background-color: #000000;
  --modal-color: #000000;
  --notification-background-color: #000000;
  --notification-color: #000000;
  --page-background-color: #000000;
  --reader-button-background-color: #000000;
  --reader-button-color: #000000;
  --reader-header-color: #000000;
  --reader-letter-color: #000000;
  --reader-subtitle-bold-color: #000000;
  --reader-subtitle-color: #000000;
  --reader-table-header-background-color: #000000;
  --reader-table-header-color: #000000;
  --reader-table-row-color: #000000;
  --reader-text-color: #000000;
  --reader-title-color: #000000;
  --section-about-us-header-background-color: #000000;
  --section-about-us-header-color: #000000;
  --section-alternate-background-color: #000000;
  --section-anonymity-background-color: #000000;
  --section-anonymity-color: #000000;
  --section-anonymity-tabs-background-color: #000000;
  --section-anonymity-tabs-color: #000000;
  --section-background-color: #000000;
  --section-bookmarks-content-background-color: #000000;
  --section-bookmarks-content-color: #000000;
  --section-bookmarks-header-background-color: #000000;
  --section-bookmarks-header-color: #000000;
  --section-calculator-content-background-color: #000000;
  --section-calculator-content-color: #000000;
  --section-calculator-header-background-color: #000000;
  --section-calculator-header-color: #000000;
  --section-contact-background-color: #000000;
  --section-contact-color: #000000;
  --section-content-background-color: #000000;
  --section-content-color: #000000;
  --section-daily-reflections-background-color: #000000;
  --section-faq-background-color: #000000;
  --section-faq-color: #000000;
  --section-foundation-background-color: #000000;
  --section-foundation-color: #000000;
  --section-foundation-tabs-background-color: #000000;
  --section-foundation-tabs-color: #000000;
  --section-help-header-background-color: #000000;
  --section-help-header-color: #000000;
  --section-index-header-background-color: #000000;
  --section-index-header-color: #000000;
  --section-info-header-background-color: #000000;
  --section-info-header-color: #000000;
  --section-library-background-color: #000000;
  --section-links-background-color: #000000;
  --section-links-color: #000000;
  --section-literatura-header-background-color: #000000;
  --section-live-meetings-background-color: #000000;
  --section-live-meetings-color: #000000;
  --section-meetings-background-color: #000000;
  --section-meetings-color: #000000;
  --section-members-about-background-color: #000000;
  --section-members-about-color: #000000;
  --section-news-background-color: #000000;
  --section-news-color: #000000;
  --section-prayer-background-color: #000000;
  --section-prayer-color: #000000;
  --section-privacy-header-background-color: #000000;
  --section-privacy-header-color: #000000;
  --section-reader-background-color: #000000;
  --section-sobriety-background-color: #000000;
  --section-sobriety-color: #000000;
  --section-step-background-color: #000000;
  --section-step-color: #000000;
  --section-swiper-neighboring-groups-background-color: #000000;
  --section-swiper-neighboring-groups-color: #000000;
  --section-swiper-shortcuts-background-color: #000000;
  --section-swiper-shortcuts-color: #000000;
  --section-themes-content-background-color: #000000;
  --section-themes-content-color: #000000;
  --section-themes-header-background-color: #000000;
  --section-themes-header-color: #000000;
  --section-there-is-hope-background-color: #000000;
  --section-there-is-hope-color: #000000;
  --section-title-background-color: #000000;
  --section-title-color: #000000;
  --section-updates-content-background-color: #000000;
  --section-updates-content-color: #000000;
  --section-updates-header-background-color: #000000;
  --section-updates-header-color: #000000;
  --section-variant-background-color: #000000;
  --sobriety-card-background-color: #000000;
  --sobriety-celebration-color: #000000;
  --sobriety-content-color: #000000;
  --sobriety-share-color: #000000;
  --sobriety-title-color: #000000;
  --text-color: #000000;
  --top-bar-background-color: #000000;
  --top-bar-color: #000000;
}
